/*
body {
  --themecolor:#eeeeee;
  font-family:"Arial", Helvetica, sans-serif;
  font-size: 120%
}

.wy-side-nav-search {
  background-color: var(--themecolor);
}
.wy-nav-top {
  background-color: var(--themecolor);
}

.wy-nav-side {
  background: hsl(160, 40%, 40%);
}

.wy-nav-content {
  font-size: 120%;
}

.wy-nav-side {
  font-size: 115%;
}

*/

/* .wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
  width: 100%;
}

.myButton{
  background:url(./_static/logo.png) no-repeat;
  cursor:pointer;
  border:none;
  width:50px;
  height:50px;
} */
.navbar-brand.logo{
  width:60%;
  height:60%;
}